# Data Science Internship – February 2026
# Logic Building Task 2
# Author: Ankita Patil

# 1. Unique Words in a Sentence

In [ ]:
def unique_words_analysis():
    print("\n===== UNIQUE WORD ANALYSIS =====")

    sentence = input("Enter a sentence: ")

    words = sentence.lower().split()
    unique_set = set(words)

    print("Unique words count:", len(unique_set))
    print("Unique words:", unique_set)

# 2. Highest Salary from Employee Data

In [ ]:
def highest_salary():
    print("\n===== HIGHEST SALARY CHECK =====")

    employees = {
        "Ravi": 75000,
        "Anita": 68000,
        "Kiran": 72000
    }

    top_employee = None
    max_salary = 0

    for name, salary in employees.items():
        if salary > max_salary:
            max_salary = salary
            top_employee = name

    print(f"Highest Salary: {top_employee} - {max_salary}")

# 3. Find Maximum and Minimum Values

In [ ]:
def find_min_max():
    print("\n===== MIN & MAX FINDER =====")

    numbers = [45, 22, 89, 10, 66]

    current_max = numbers[0]
    current_min = numbers[0]

    for num in numbers:
        if num > current_max:
            current_max = num
        if num < current_min:
            current_min = num

    print("List:", numbers)
    print("Max:", current_max)
    print("Min:", current_min)

# 4. Count Products Above Price Threshold

In [ ]:
def count_expensive_products():
    print("\n===== PRICE FILTER =====")

    prices = [450, 1200, 899, 1500, 300]
    threshold = 1000

    count = 0
    for price in prices:
        if price > threshold:
            count += 1

    print("Products above 1000:", count)

# 5. Calculate Attendance Percentage

In [ ]:
def attendance_percentage():
    print("\n===== ATTENDANCE CALCULATION =====")

    attendance = ["P", "P", "A", "P", "P"]

    present_days = 0
    total_days = len(attendance)

    for status in attendance:
        if status == "P":
            present_days += 1

    percentage = (present_days / total_days) * 100

    print("Attendance Percentage:", percentage)

# 6. Remove Duplicate Phone Numbers

In [ ]:
def unique_phone_numbers():
    print("\n===== UNIQUE PHONE NUMBERS =====")

    phone_numbers = [9876543210, 9123456789, 9876543210]

    unique_numbers = set(phone_numbers)

    print("Unique phone numbers:", unique_numbers)

# 7. Count Character Frequency

In [ ]:
def character_frequency():
    print("\n===== CHARACTER FREQUENCY =====")

    text = "python"

    freq = {}

    for ch in text:
        if ch in freq:
            freq[ch] += 1
        else:
            freq[ch] = 1

    print(freq)

# 8. Convert List to Tuple

In [ ]:
def list_to_tuple():
    print("\n===== LIST → TUPLE =====")

    values = [10, 20, 30]
    result_tuple = tuple(values)

    print("Tuple:", result_tuple)

# 9. Check if Key Exists in Dictionary

In [ ]:
# ------------------------------------------------------------
def key_check():
    print("\n===== DICTIONARY KEY CHECK =====")

    employees = {
        "Ravi": 75000,
        "Anita": 68000,
        "Kiran": 72000
    }

    search_key = "Ravi"

    if search_key in employees:
        print("Employee exists")
    else:
        print("Employee not found")

# 10. Calculate Average Marks

In [ ]:
def average_marks():
    print("\n===== AVERAGE MARKS =====")

    marks = [70, 80, 65, 75]

    total = 0
    for m in marks:
        total += m

    avg = total / len(marks)

    print("Average Marks:", avg)

In [ ]:
unique_words_analysis()
highest_salary()
find_min_max()
count_expensive_products()
attendance_percentage()
unique_phone_numbers()
character_frequency()
list_to_tuple()
key_check()
average_marks()